[submodule "agarciafdz"]
	path = agarciafdz
	url = https://git.codecrafters.io/5b40f2ab602065df
[submodule "zzantares"]
	path = julio/zzantares
	url = https://git.codecrafters.io/16ab66ba2d68d8c2
[submodule "jarturomora/curso-matic"]
	path = jarturomora/curso-matic
	url = https://github.com/jarturomora/curso-matic
[submodule "maig/shell"]
	path = maig/shell
	url = https://git.codecrafters.io/e31a1e3bf4b1763d
[submodule "kdchairesl/codecrafters_shell"]
	path = kdchairesl/codecrafters_shell
	url = https://git.codecrafters.io/ccefb4036a450006
