[submodule "agarciafdz"]
	path = agarciafdz
	url = https://git.codecrafters.io/5b40f2ab602065df
[submodule "miniguezg"]
	path = miniguezg
	url = https://git.codecrafters.io/312c64645fe3cec8
[submodule "kada"]
	path = kada
	url = https://git.codecrafters.io/fd79006c4b39f0f4
[submodule "zzantares"]
	path = zzantares
	url = https://git.codecrafters.io/16ab66ba2d68d8c2
